<!-- wp:template-part {"slug":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main site-main--full-width","layout":{"type":"constrained"}} -->
<main id="content" class="wp-block-group site-main site-main--full-width">
	<!-- wp:post-title {"level":1,"align":"wide"} /-->
	<!-- wp:post-featured-image {"align":"wide","aspectRatio":"16/9"} /-->
	<!-- wp:post-content {"align":"wide","layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->
